<div class="container mt-5 bg-secondary">
  <div class="row">
    <div class="col-6 m-auto">
      <form #loginForm="ngForm" (ngSubmit)="login()">
        <div class="card text-center card-form rounded border">
          <div class="card-body">
            <div *ngIf="!user && !rawUser">
              <h3 class="card-title text-primary">
                Login to your Auth Gate App!
              </h3>
              <div class="card-block mb-2">
                <button
                  class="btn btn-social-icon btn-outline-info mx-1"
                  (click)="signInWithGoogle()"
                >
                  <i class="fa fa-google"> Sign In with Google</i>
                </button>

                <button
                  class="btn btn-social-icon btn-outline-info mx-1"
                  (click)="signInWithMicrosoft()"
                >
                  <i class="fa fa-windows"> Sign In with Microsoft</i>
                </button>
              </div>
              <div class="card-block">
                <div class="input-group inut-group-lg mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text h-100">
                      <i class="fa fa-user"></i>
                    </span>
                  </div>
                  <input
                    type="text"
                    name="userId"
                    class="form-control"
                    placeholder="User ID"
                    [(ngModel)]="userId"
                  />
                </div>
                <div class="input-group inut-group-lg mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text h-100">
                      <i class="fa fa-lock"></i>
                    </span>
                  </div>
                  <input
                    type="password"
                    name="password"
                    class="form-control"
                    placeholder="Password"
                    [(ngModel)]="password"
                  />
                </div>
                <input
                  type="submit"
                  value="Login"
                  class="btn btn-info btn-block col-12"
                />
              </div>
            </div>
            <div *ngIf="user" class="text-center">
              <img
                *ngIf="user.photoUrl"
                class="card-img-top img-responsive rounded-circle my-2 mx-auto userPhoto"
                src="{{ user.photoUrl }}"
              />
              <div class="card-block">
                <h4 class="card-title">Hi, {{ user.name }}</h4>
              </div>
            </div>
            <div *ngIf="rawUser" class="card text-center">
              You have logged in using the shared credential
            </div>
            <div *ngIf="user || rawUser" class="card-block">
              <p>
                We have stored some of your information in this session. Click
                on the button to see the stored information
              </p>
              <button
                class="btn btn-success col-12 m-1"
                (click)="fetchSession()"
              >
                Fetch Data
              </button>
              <div *ngIf="sessionView">
                <div *ngIf="sessionUserName">
                  User name : {{ sessionUserName }}
                </div>
                <div *ngIf="sessionUserEmail">
                  Email : {{ sessionUserEmail }}
                </div>
                <div *ngIf="sessionUserProvider">
                  You have logged in using {{ sessionUserProvider }}
                </div>
              </div>
              <button class="btn btn-danger col-12" (click)="signOut()">
                Sign out
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
